/* Stolen css from gatsby */
body {
    color: rgba(0, 0, 0, 0.87);
    height: 100%;
    margin: 0;
    font-size: 0.875rem;
    font-family: "Open Sans", "Source Sans Pro", sans-serif;
    font-weight: 400;
    line-height: 1.43;
    background-color: #ffffff;
    background: linear-gradient(rgba(251, 250, 251, 0.79), 65.97%, rgba(255, 255, 255, 0)), url('/images/diamondsSolidPink.svg'), center center;
}

body {
    /* Make background stretch right */
    min-height: 100vh;
}

.post-container, .guest-container, .generic-container {
    max-width: 600px;
    margin: 1em auto 3em auto;
    padding: 2em;
    border-radius: 10px;
    background-color: #ffffff;
}

.guest-container {
    max-width: 700px;
}

h1, h2, h3, h4 {
    font-family: "Junegull", serif;
    font-size: 2.4em;
}

.heading-wrapper {
    color: black;
    width: 100%;
    display: flex;
    background: radial-gradient(circle, rgba(244, 165, 210, 1), rgba(250, 210, 233, 1) 0%, rgba(244, 165, 210, 1));
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 60px;
    color: black;
    font-size: 16px;
    line-height: 16px;
    margin-top: 32px;
}

p {
    margin: 8px 0px;
    font-size: 1.5em;
    font-family: "Open Sans", "Source Sans Pro", sans-serif;
    font-weight: 400;
    line-height: 1.25;
    padding-bottom: 0.5em;
}

li > p {
    margin: inherit;
    font-size: inherit;
    font-weight: normal;
    padding-bottom: inherit;
    line-height: 1;
}

a {
    color: #000000;
    box-shadow: inset 0px -1px 0px 0px #000000;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    text-decoration: none;
}

.nav-holder {
    padding: 20px 30px;
    width: 350px;
    background-color: #fff;
    font-size: 2em;
    line-height: 2.5em;
}

.nav-holder li {
    list-style: none;
}

.hidden {
    display: none;
}

.guest-header {
    text-align: center;
    padding-bottom: 1em;
    text-transform: uppercase;
}

.dummy-container {
    text-align: center;
    font-size: 18px;
    padding-bottom: 1em;
}

.guest-container .guest-parent {
    display: flex;
}

.guest-container .image-preview {
    margin-right: 16px;
}

.guest-container .image-preview img {
    max-width: 200px;
}

.badge-previews {
    display: flex;
    flex-wrap: wrap;
}

.badge-preview {
    border-radius: 15px;
    background-color: #f4a5d2;
    width: 160px;
    margin: 4px;
    padding: 10px;
}

.badge-text {
    white-space: pre-line;
    margin: 8px auto;
    width: 400px;
}

.badge-text h4 {
    font-size: 110%;
}

.pre-line {
    white-space: pre-line;
}

.home-preview .reg-button {
    width: 100%;
    margin: 16px auto;
    background-color: #f4a5d2;
    font-size: 32px;
    text-transform: uppercase;
    line-height: 42px;
}

.home-preview .buttons {
    display: flex;
}

.home-preview .buttons button {
    margin: 16px 8px;
    background-color: #f4a5d2;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 36px;
    flex-grow: 1;
}

.custom-toolbar {
    padding: 4px;
    background: white;
    position: fixed;
    border-radius: 8px;
    left: 50%;
    transform: translate(-50%);
    top: 0;
}

.custom-toolbar > * {
    margin: 4px 8px;
}